@import '../styles/variables.scss';

.box {
    height: fit-content;
    width:  fit-content;
    border: 1px solid $gray;
    position: relative;
}

// .box::after {
//     content: "+";
//     position: absolute;
//     left: -8px;
//     top: -15px;
//     font-weight: 900;
//     font-size: 25px;
//     color: $pink;
// }

// .box::before {
//     content: "+";
//     position: absolute;
//     right: -8px;
//     top: -15px;
//     font-weight: 900;
//     font-size: 25px;
//     color: $pink;
// }

// .inner::after {
//     content: "+";
//     position: absolute;
//     left: -8px;
//     bottom: -15px;
//     font-weight: 900;
//     font-size: 25px;
//     color: $pink;
// }

// .inner::before {
//     content: "+";
//     position: absolute;
//     right: -8px;
//     bottom: -15px;
//     font-weight: 900;
//     font-size: 25px;
//     color: $pink;
// }
