@import '../styles/variables.scss';

.container {
    display: flex;
    position: absolute;
    height: 18vh;
    background-color: $background;
    align-items: center;
    // justify-content: center;
    color: $white;
    bottom: 0;
}

.footerContainer{
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: 6vh;
    justify-content: space-between;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50%;
    height: 80%;
    h2{
        color: $gray;
        font-size: 1rem;
    }
}

.contactInfo{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.socialLinks{
    display: flex;
    flex-direction: row;
}

.copyright {
    align-self: center;
    justify-self: center;
    margin-left: calc(50% - 100px);
    width: 200px;
}

@media only screen and (max-width: 1024px) {

    .container{
        justify-content: center;
    }

    .contactInfo {
        flex-direction: column;
        text-align: center;
    }

    .footerContainer{
        width: 100%;
        padding: 3rem;

    }

}