.container{
    padding-bottom: 18vh;
    align-content: center;
    max-width: 1024px;
    margin: auto;
    gap: 80px;
}

@media only screen and (max-width: 1024px) {
    .container{
       width: 100vw; 
    }
}