@import "../styles/variables.scss";

.container{
    display: flex;
    flex-direction: column;
    color: $white;
    align-items: center;
    width: 100%;
    justify-content: center;
}


.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.title{
    justify-self: flex-start;
    span{
        color: $pink;
    }
}

.viewAll{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 30%;
    border-style: none;
    background-color: transparent;
    color: $white;
    text-decoration: none;
    font-size: 1rem;
}

.projects{
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-wrap: wrap;
}

