@import "../styles/variables.scss";

.header{
    display: flex;
    margin-right: auto;
    width: 100%;
    align-items: center;
    color: $white;
    span{
        color: $pink;
        font-size: 30px;
    }
}

.line{
    background-color: $pink;
    height: .2rem;
    width: 30;
}
