@import "../styles/variables.scss";

.skills {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.link {
    color: $white;

    span {
        color: $pink;
    }

}
