@import "./variables.scss";

.container{
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    color: $white;
    flex-wrap: wrap;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    span{
        color: $pink;
    }
    p{
        color: $gray;
    }
}

.section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}